<h1>Editing leadership_ward_council_representative</h1>

<%= render 'form' %>

<%= link_to 'Show', @leadership_ward_council_representative %> |
<%= link_to 'Back', leadership_ward_council_representatives_path %>
