<h1>Editing new_and_returning_member_progress_check_list_item</h1>

<%= render 'form' %>

<%= link_to 'Show', @new_and_returning_member_progress_check_list_item %> |
<%= link_to 'Back', new_and_returning_member_progress_check_list_items_path %>
