<h1>Editing new_and_returning_member_progress_check_list_item_label</h1>

<%= render 'form' %>

<%= link_to 'Show', @new_and_returning_member_progress_check_list_item_label %> |
<%= link_to 'Back', new_and_returning_member_progress_check_list_item_labels_path %>
